* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: rgb(247, 247, 247);
  color: rgb(19, 38, 38);
}

img {
  width: 100%;
  padding: 10px;
  border-top: solid 5px rgb(247, 247, 247);
  border-bottom: solid 5px rgb(247, 247, 247);
}

h1 {
  text-align: center;
  padding: 50px 15px 0px 15px;
  font-size: 4rem;
}

h2 {
  font-size: 1.6rem;
  padding: 30px;
}

p {
  font-size: 1.2rem;
  padding: 30px 10px 0 10px;
}

a {
  font-size: 1.2rem;
  border: solid 2px rgb(19, 38, 38);
}

a:hover {
  background-color: white;
  color: rgb(19, 38, 38);
  transition-duration: 0.2s;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 30px 0px;
  color: white;
  text-decoration: none;
  margin: 20px auto 20px auto;
  padding: 15px 25px 15px 25px;
  background-color: rgb(19, 38, 38);
  border-radius: 20px;
  align-self: baseline;
  width: 170px;
  height: 60px;
}

.signature {
  text-align: center;
  font-size: 1rem;
  padding: 0;
  margin: auto;
}

.cards-section {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  margin: auto;
  padding: 90px 15px 30px 15px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  box-shadow: 5px 5px 35px rgb(0 0 0 / 10%);
  border-radius: 20px;
  flex-shrink: 0;
  max-width: 350px;
  height: 700px;
  margin: 20px auto 20px auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
}

@media (min-width: 1100px) {
  .cards-section {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
